<!-- CORE -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description | default: site.description | escape }}">
<!-- SEO / SOCIAL -->
<meta property="og:title" content="{{ page.title | escape }}">
<meta property="og:description" content="{{ page.description | default: site.description | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ page.image | default: site.image | absolute_url }}">
<meta property="og:type" content="website">
<meta name="apple-mobile-web-app-title" content="Visewerk" />
<!-- FAVICONS -->
<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/assets/favicon/site.webmanifest" />
<!-- CSS / FONTS -->
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
